html, body {
    margin: 0;
    height: 100%;
}

p {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    height: 100%;
    background-color: #0d5c63;
    font-family: sans-serif;
    color: #ffffff;
}

.playground {    
    width: 500px;
    height: 600px;
    background-color: #44A1A0;
    position: relative;
    cursor: pointer;
}

.pot {
    width: 20px;
    height: 20px;
    background-color: #ffff00;
    position: absolute;
    visibility: hidden;
}

.notifications {
    box-sizing: border-box;
    border-bottom: 2px dotted #44A1A0;
    padding: 8px;
    width: 500px;
    text-align: center;
    margin-bottom: 4px;
}

.counter {
    font-weight: bold;
}

.hint {
    position: absolute;
}